@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

body {
    background-color: #60a3bc;
    font-family:'Poppins', sans-serif;;
    text-align: center;
    margin: 0;
}